# Node.js
node_modules/

# User-specific files
.vscode/
.DS_Store
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.jenkins/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
